<mat-toolbar color="primary">
  <button
    mat-button
    routerLink="/users"
    routerLinkActive="active"
    class="toolbar-button"
  >
    Users
  </button>
  <button
    mat-button
    routerLink="/categories"
    routerLinkActive="active"
    class="toolbar-button"
  >
    Categories
  </button>
  <button
    mat-button
    routerLink="/posts"
    routerLinkActive="active"
    class="toolbar-button"
  >
    Posts
  </button>
  <button
    mat-button
    routerLink="/comments"
    routerLinkActive="active"
    class="toolbar-button"
  >
    Comments
  </button>
</mat-toolbar>
