<div
  class="user-detail"
  *ngIf="selectedUser || createMode; else noCardSelected"
>
  <mat-card class="user-detail-card">
    <mat-card-header>
      <mat-card-title>
        <ng-container *ngIf="!editMode">{{
          selectedUser?.username
        }}</ng-container>
        <ng-container *ngIf="editMode && !createMode">
          User ID: {{ selectedUser?.user_id }}
        </ng-container>
        <ng-container *ngIf="createMode"> Add New User </ng-container>
      </mat-card-title>

      <mat-card-subtitle>
        <ng-container *ngIf="!editMode"
          >User ID: {{ selectedUser?.user_id }}
        </ng-container>
      </mat-card-subtitle>

      <ng-container *ngIf="!createMode">
        <button
          mat-stroked-button
          [color]="editMode ? 'warn' : 'primary'"
          class="toggle-edit-button"
          (click)="toggleEditMode()"
        >
          {{ editMode ? "CANCEL" : "EDIT" }}
        </button>
      </ng-container>
    </mat-card-header>

    <mat-card-content>
      <ng-container *ngIf="!editMode">
        <p>
          Member since:
          {{ selectedUser?.creation_date | date : "dd/MM/yyyy, HH:mm:ss" }}
        </p>

        <p>E-mail: {{ selectedUser?.email }}</p>

        <p>Active: {{ selectedUser?.is_active }}</p>
      </ng-container>

      <ng-container *ngIf="editMode">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            matInput
            [formControl]="usernameInput"
            [(ngModel)]="editedUser.username"
            class="edit-input"
            maxlength="30"
          />
          <mat-error *ngIf="usernameInput.hasError('hasSpaces')"
            >Spaces between words are not allowed.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Creation Date</mat-label>
          <input
            matInput
            [(ngModel)]="editedUser.creation_date"
            class="edit-input"
            placeholder="Leave blank to use server time"
          />
          <button
            *ngIf="editedUser.creation_date"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="editedUser.creation_date = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div class="pickers">
          <mat-form-field class="date-picker">
            <mat-label>Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="pickedDate"
              (ngModelChange)="onDateChange()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <input
            class="time-picker"
            type="time"
            [(ngModel)]="pickedTime"
            (ngModelChange)="onDateChange()"
          />
        </div>

        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            [formControl]="emailInput"
            [(ngModel)]="editedUser.email"
            class="edit-input"
            maxlength="70"
          />
          <mat-error *ngIf="emailInput.hasError('hasSpaces')"
            >Spaces between words are not allowed.</mat-error
          >
        </mat-form-field>

        <br />

        <mat-checkbox [(ngModel)]="editedUser.is_active" class="edit-input"
          >Active</mat-checkbox
        >
      </ng-container>
    </mat-card-content>

    <mat-card-actions align="end">
      <ng-container *ngIf="!createMode">
        <button mat-button color="warn" (click)="onDeleteUser()">DELETE</button>

        <ng-container *ngIf="!detailsMode">
          <button mat-button [routerLink]="'/users/' + selectedUser!.user_id">
            DETAILS
          </button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="createMode">
        <button mat-button color="warn" routerLink="/users">CANCEL</button>
      </ng-container>

      <button mat-button [disabled]="!editMode" (click)="onSaveOrUpdateClick()">
        {{ createMode ? "CREATE" : "UPDATE" }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noCardSelected>
  <mat-card class="no-card-selected">
    <mat-card-content>
      <p>Click on a card's header to edit</p>
    </mat-card-content>
  </mat-card>
</ng-template>
